/* ===== Colors =====*/
:root {
    --first-color: black;
    --second-color: white;
}

/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
    --body-font: 'Playfair Display';
}

/* ===== Body ===== */

body {
    background-color: var(--second-color);
}

/* ===== Header ===== */

header {
    background-color: var(--second-color);
    
}
/*===== Navigation =====*/
.logo h1{
    text-align: center;
    color: var(--first-color);
}
.nav{
    background-color: var(--first-color);
}
.nav ul {
    list-style: none;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.nav li {
    color: var(--second-color);
    padding: 8px;
    display: inline-block;
    margin-right:-4px;
    font-family: var(--body-font);
}

/*===== Links =====*/
a{
    text-decoration: none;
}

a:visited {
    color: black;
}
